@import './base.css';

h1, h2, h3, h4, h5, h6, p, a, button, input, textarea {
  font-family: "League Spartan", sans-serif;
}

h1{
  font-size: 4.5em;
  font-weight: 600;
  line-height: 1;
}

h1 span{
  font-weight: 600;
}

.subtext {
  font-size: 1.1em;
}

h2{
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  line-height: 1.1;
}

h2 span{
  font-weight: 600;
}

h3{
  font-size: 2.5em;
}

p{
  font-size: 1.3em;
  line-height: 1.6;
}
a{
  text-decoration: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.8rem;
  }
}