# Core Django dependencies
Django==5.2.6
djangorestframework
djangorestframework-simplejwt
drf-spectacular

# CORS handling
django-cors-headers==4.7.0

# Database support
dj-database-url
psycopg2-binary
whitenoise

# Environment variables
python-dotenv==1.1.1

# Security
cryptography

# Production server
gunicorn

# Essential packages
sqlparse==0.5.3
pytz==2022.1
packaging==25.0
